.sideMenu {
  background-color: #262250 !important;
  height: 100vh;
  background-image: linear-gradient(rgb(38, 34, 80, 65%) 0%, rgb(27, 25, 66, 85%) 57%, rgb(23, 22, 59, 100%) 100%);
}

.menu-item {
  color: #6F6C99;
  font-size: 12.74px;
}

  .menu-item svg path, rect {
    fill: #6F6C99;
  }
.menu-item.selected {
  color: #53B9EA;
}

.menu-item.selected svg path , rect {
  fill: #53B9EA;
}

.selected-pin {
    display: none;
}

.menu-item.selected .selected-pin {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: -15.5px;
  width: 31px;
  height: 31px;
  border-radius: 50%;
  background-image: radial-gradient(circle, rgb(0, 196, 255, 0.01%) 0%, rgb(50, 196, 246, 26.47%) 36%, rgb(83, 185, 234, 0.01%) 100%);
}

.menu-item.selected .selected-circle {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: #53B9EA;
}

.system-logo {
  box-shadow: 0 5.46px 22.75px 0 rgb(154, 242, 237, 35.51%);
}

.system-name {
    color: #6F6C99;
    font-size: 16.38px;
}

.page-title {
    font-size: 27.3px;
    color: white;
    font-weight: 700;
}

.page-description {
  color: #5B5A99;
  font-size: 11.38px;
}

.page {
  background-image: linear-gradient(rgb(32, 29, 71, 100%) 0%, rgb(23, 21, 58, 100%) 100%);
}

.notifications-btn {
  background-image: linear-gradient(#FF409A 0%, #C438EF 100%);
  font-size: 10.92px;
  color: white;
  font-weight: 500;
  box-shadow: 0 3.64px 28.21px 0 #BA1358;
}

.login-user {
  color: #5B5A99;
  font-size: 11.83px;
  font-weight: 500;
}

.pink-circle {
  width: 5.5px;
  height: 5.5px;
  border-radius: 50%;
  background-image: linear-gradient(#FF40A5 0%, #E14CD1 100%);
  box-shadow: 0 0px 4.55px 0 #E01066;
}

.overview-box {
  border-radius: 9px;
  border: 0.91px solid #312F62;
  box-shadow: 0 33.67px 27.3px 0 #1B183F;
}

.overview-box-number {
  font-size: 15.47px;
  color: white;
}

.overview-box-currency {
  font-size: 10.92px;
  color: white;
  font-weight: 600;
  opacity: 50%
}

.overview-box-per {
  font-size: 10.1px;
  color: white;
}

.selected-box.overview-box {
  background-image: linear-gradient(#40DDFF 0%, #14BAE3 19%, #13B1E6 69%, #11AADF 82%, #0B98C5 100%);
  box-shadow: 0 0px 82.71px;
}


.overview-box-per.red {
  color: #E3507A;
}

.overview-box-per.green {
  color: #50E3C2;
}

.section-title {
  font-size: 10.92px;
  color: #B1AFCD;
}

.add-currency-btn {
  border-radius: 9px;
  border: 0.91px dashed #312F62;
  font-size: 11.83px;
  font-weight: 700;
}

.grid-cols {
  grid-template-columns: 10% 60% 15% 15%;
}

.row-item {
  color: #59588D;
  font-size: 10.01px;
}

.row-item.main-item {
  color: #7877B1;
  font-size: 10.92px;
}

.see-all-btn {
  color: #70B2FF;
  font-size: 10.92px;
}


.red {
  color: #E3507A;
}

.green {
  color: #50E3C2;
}

.gap-y-20 {
    gap: 20px 0;
}

.gap-y-25 {
    gap: 25px 0;
}
